.fade-in {
    opacity: 0;
    transition: opacity 2s ease;
}

.fade-in-visible {
    opacity: 1;
}
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.half-screen-height {
    height: 80vh; /* 50% of the viewport height */
  }
  
  